#115 Contacts Database
=================================================

####console commands
cd workspace/simplecodecasts_saas
git status
git checkout development
git merge layout_improvements
git checkout -b contact_form
bundle exec rails generate migration CreateContacts

####db/migrate/xyz_create_contacts.rb
class CreateContacts < ActiveRecord::Migration
  def change
    create_table :contacts do |t|
      t.string :name
      t.string :email
      t.text :comments
      
      t.timestamps
    end
  end
end

####console commands
bundle exec rake db:migrate




====================================================
#112 Step 

####app/views/layouts/application.html.erb
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

####app/assets/stylesheets/custom.css.scss
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git add .
git commit -m "Reorganized css"
git push origin layout_improvements


==================================================
#111 Step Font awesome

####app/views/layouts/application.html.erb
...
<title>Dev Match</title>
...
<%= link_to root_path, class: 'navbar-brand' do %>
	<i class="fa fa-users"></i>
	Dev Match
<% end %>
...

####Gemfile
...
gem 'font-awesome-sass', '4.2.0'
...

####app/assets/stylesheets/application.css.scss
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git status
git add .
git commit -m "Added font awesome gem and logo to navbar"
git push origin layout_improvements



####################################################
