
#111 Step Font awesome

####app/views/layouts/application.html.erb
...
<title>Dev Match</title>
...
<%= link_to root_path, class: 'navbar-brand' do %>
	<i class="fa fa-users"></i>
	Dev Match
<% end %>
...

####Gemfile
...
gem 'font-awesome-sass', '4.2.0'
...

####app/assets/stylesheets/application.css.scss
@import "font-awesome-sprockets";
@import "font-awesome";

####console commands
git status
git add .
git commit -m "Added font awesome gem and logo to navbar"
git push origin layout_improvements



####################################################
#110 Step - More view updates
####app/views/layouts/application.html.erb
<div class="container">  
  <%= yield %>
</div>

####app/views/pages/home.html.erb
<div class="jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>

####console commands
git add .
git commit -m "Added bootstrap classes and copy"
git push origin layout_improvements

