
#109 Step - More view updates
####app/views/layouts/application.html.erb
<div class="container">  
  <%= yield %>
</div>

####app/views/pages/home.html.erb
<div class="jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>

####console commands
git add .
git commit -m "Added bootstrap classes and copy"
git push origin layout_improvements

