<div class="jumbotron text-center">
  <h1>Welcome to Fullstack Crossroads</h1>
  <h3>A cool place where developers and entrepreneurs exchange their experiences.</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <h5 class="text-center">Sign up for free and get basic access to the community.</h5>
      <br/>
      <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h5 class="text-center">Sign up for the pro account for $10/month. You support community and get access to the community extra resources and more benefit!</h5>
      <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>

